# Server
PORT=3000
API_URL=https://exelix.onrender.com

# JWT
JWT_SECRET=5f8d7e1c3a9b4f02d6a7e1c9b3f8d6a7e1c3a9b4f02d6a7e1c9b3f8d6a7e1c3a

# Admin (login / password). Change in production!
ADMIN_LOGIN=admin
ADMIN_PASSWORD=admin1234

# hCaptcha. Get keys at https://www.hcaptcha.com/
HCAPTCHA_SECRET=0x0000000000000000000000000000000000000000
HCAPTCHA_SITEKEY=10000000-ffff-ffff-ffff-000000000001   # пример тестового sitekey

# Telegram Bot. Create via @BotFather
TELEGRAM_BOT_TOKEN=8299001344:AAFAhJLRAbsSBIx0_BOqckY8S-06Vxtm_OE

# VAPID for Web Push. Generate: npx web-push generate-vapid-keys
VAPID_PUBLIC_KEY=BLXRYgSkJ-3wBxvd_g1m0799LtZkhlJ-65OswXnfsfr7Eaoi-0rDff4zC7dW662_ee88qcfFcRHEbBnKO63-lZE
VAPID_PRIVATE_KEY=3DgkLu5n_qk19X5KZWQpLguHQ0yDwfRsWbk5ScOsMcg

# Database (SQLite file)
DATABASE_PATH=./data/exelix.db
